# This is the full requirement list for scriptharness.  The minimum set
# is defined in setup.py.
coverage
jinja2
mock
nose
psutil
pylint
requests
Sphinx
six
# tox 2.0.0 and 2.0.1 are broken: https://bitbucket.org/hpk42/tox/issue/247
tox>=2.0.2
